body {
  margin: 50px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  max-width: 60%;
}

table {
  border-collapse: collapse;
  border: 1px #002b36;
  min-width: 300px;
}

th, td {
  padding: 5px;
}

th {
  color: #586e75;
}

pre {
  min-width: 300px;
}

dl:after {
  content: "";
  display: table;
  clear: both;
}

dt {
  font-weight: bold;
  color: #586e75;
  float: left;
  width: 15%;
  text-align: right;
  padding: 3px;
  padding-bottom: 10px;
  clear: left;
}

dd {
  float: left;
  width: 70%;
  padding: 3px 0;
}