body {
  margin: 50px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  max-width: 60%;
}

table {
  border-collapse: collapse;
  border: 1px solid #CCCCCC;
  min-width: 300px;
/*   width: 30%; */
}

th, td {
  padding: 5px;
}

pre {
  min-width: 300px;
}

dl:after {
  content: "";
  display: table;
  clear: both;
}

dt {
  font-weight: bold;
  color: #0048ab;
  float: left;
  width: 10%;
  text-align: right;
  padding: 3px;
  padding-bottom: 10px;
  clear: left;
}

dt::after {
  content: ":";
}

dd {
  float: left;
  width: 65%;
  padding: 3px 0;
}