doctype html
html(lang='en')
  head
    title Example User Consent API
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='stylesheet' href='/css/mono-blue.css')
  body
    h1 Example User Consent API
    dl
      dt API root
      dd
        code
          a(href='https://fake-consent-api.fly.dev/api/consents') https://fake-consent-api.fly.dev/api/consents
      dt Source code
      dd
        code
          a(href='https://github.com/braveulysses/fake-consent-api') https://github.com/braveulysses/fake-consent-api
    
    p This is a simple example REST API, loosely based on the 
      a(href='https://apidocs.pingidentity.com/pingdirectory/consent/v1/api/guide/') Ping Identity Consent API
      | .

    h2 Consent API terms

    dl
      dt Consent
      dd A record of a user's consent to share data with another party.
      dt Definition
      dd A type of consent; i.e., what a consent is
        em  for
        | .
      dt Subject
      dd The user whose data is being shared.
      dt Actor
      dd The user or client who actually granted the consent. Usually the same user as the subject.
      dt Audience
      dd The party who can access the data being shared.
      dt Status
      dd The status of the consent record. Possible values include
        em  accepted,
        em  denied,
        em  revoked,
        |  and
        em  restricted.

    h2 Limitations of this API

    ul
      li Authentication is not supported.
      li Create and update operations are not supported. The API is preloaded with limited sample data.

    h2 Usage
    p Currently, no authentication is required.

    p All responses are JSON and use the
      code  application/json
      |  content-type.

    h3 Retrieve all consent records
    
    p By default, a GET request to
      code  /api/consents
      |  returns a JSON array of all consent records.
      |  Use this to see all available sample data.

    h3 Filter consent records
    
    p You can constrain the search by providing an attribute-based filter. For example:
      code  /api/consents?subject=:subject
      |, where
      code  :subject
      |  is a subject ID like "user.1".
    p Example response:
    pre
      code.hljs
        :highlight(lang="json", style="Mono Blue")
          [
            {
              "actor": "user.1",
              "audience": "healthcare-app",
              "createdDate": "2022-05-10T14:54:23.245Z",
              "dataText": "Your private health care data",
              "definition": {
                "currentVersion": "1.0",
                "id": "healthcare",
                "locale": "en-US",
                "version": "1.0"
              },
              "id": "1fafb2cb-9eec-4cd1-8639-ae0396e1b728",
              "purposeText": "View and manage your health care data",
              "status": "accepted",
              "subject": "user.1",
              "updatedDate": "2022-05-11T14:54:23.245Z"
            },
            {
              "actor": "user.1",
              "audience": "legacy-healthcare-app",
              "createdDate": "2021-05-10T14:54:23.245Z",
              "dataText": "Your private health care data",
              "definition": {
                "id": "healthcare",
                "locale": "en-US",
                "version": "1.0"
              },
              "id": "d105686c-c745-4d83-ad18-b3ab7c49c13e",
              "purposeText": "View and manage your health care data",
              "status": "revoked",
              "subject": "user.1",
              "updatedDate": "2022-01-11T14:54:23.245Z"
            }
          ]

    p You can use multiple terms to further constrain a search.
      |  For example, to only return 'healthcare' consents that the subject has accepted,
      |  make a request like the following:
      code  /api/consents?subject=:subject&definition.id=healthcare&status=accepted

    p Example response:
    pre
      code.hljs
        :highlight(lang="json", style="Mono Blue")
          [
            {
              "actor": "user.1",
              "audience": "healthcare-app",
              "createdDate": "2022-05-10T14:54:23.245Z",
              "dataText": "Your private health care data",
              "definition": {
                "id": "healthcare",
                "locale": "en-US",
                "version": "1.0"
              },
              "id": "1fafb2cb-9eec-4cd1-8639-ae0396e1b728",
              "purposeText": "View and manage your health care data",
              "status": "accepted",
              "subject": "user.1",
              "updatedDate": "2022-05-11T14:54:23.245Z"
            }
          ]

    h3 Retrieve single consent record

    p You can also retrieve a single consent record by ID.
      |  For example:
      code  /api/consents/1fafb2cb-9eec-4cd1-8639-ae0396e1b728

    p Example response:
    pre
      code.hljs
        :highlight(lang="json", style="Mono Blue")
          {
            "actor": "user.1",
            "audience": "healthcare-app",
            "createdDate": "2022-05-10T14:54:23.245Z",
            "dataText": "Your private health care data",
            "definition": {
              "currentVersion": "1.0",
              "id": "healthcare",
              "locale": "en-US",
              "version": "1.0"
            },
            "id": "1fafb2cb-9eec-4cd1-8639-ae0396e1b728",
            "purposeText": "View and manage your health care data",
            "status": "accepted",
            "subject": "user.1",
            "updatedDate": "2022-05-11T14:54:23.245Z"
          }

